@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,400');
html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  display:flex;
  min-height: 100vh;
  align-items: center;
  background-image: linear-gradient(to bottom, #fff, #f2f2f2); */
}

.voiceinator {
  padding:2rem;
  margin:0 auto;
  position: relative;
  background: #222;
  color: #fff;
  z-index: 1;
}
.voiceinator:before {
  content: "";
  filter: blur(10px);
  background: #222;
  opacity: .1;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  transition: all .2s ease;
  transform: scale(1);
}
@keyframes pulsing {
  from {
    transform: scale(1);
    opacity: .1;
  }
  to {
    transform: scale(1.02);
    opacity: .5;
  }
}
.voiceinator.active:before {
  animation: pulsing .2s ease alternate infinite
}

h1 {
  width:calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding:.5rem;
  text-align: center;
  font-size: calc(4rem + 1vmin);
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin:10px 0;
  padding:10px;
  border:0;
  font-size: 2rem;
  background: #222;
  border: 1px solid rgba(255,255,255,.2);
  color:#F7F7F7;
  outline:0;
}
textarea {
  height: 20rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  text-transform: lowercase;
}
.voiceinator select {
  -webkit-appearance: none;
  border-radius: 0;
}

.voiceinator button {
  border: 1px solid rgba(255, 255, 255, .2);
  font-family: "Roboto Mono", monospace;
  width: 49%;
  float:left;
  margin-bottom: 0;
  font-size: 2rem;
  text-transform: lowercase;
  cursor:pointer;
  position: relative;
  transition: all .1s ease;
}


.voiceinator button:active {
  background: rgba(255, 255, 255, .2);
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}

