@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,500');
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background: linear-gradient(to bottom, #222, #111);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  &:before {
    content: "sort these bands";
    color: #333;
    opacity: .5;
    font-size: calc(50% + 5vmin);
    z-index: -1;
    margin-bottom: 20px;
  }
}

#bands {
  list-style: circle;
  font-size: 16px;
  width: calc(50% + 20vw);
  font-weight: 100;
  padding: 0;
  color: #f2f2f2;
  position: relative;
  height: calc((16px * 15) + (1vh * 30));
  li {
    position: absolute;
    padding: 1vh;
    font-size: 16px;
    left:0;
    right:0;
    transition: all .2s ease;
    &:not(:last-child) {
      // border-bottom: 1px solid rgba(239, 239, 239, 0.2);
    }
  }
  @for $i from 0 to 15 {
    li:nth-child(#{$i+1}) {
      transform: translateY(calc(#{$i * 18}px + #{$i * 2}vh));
    }
  }
}

a {
  background: linear-gradient(to right, #ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 5px 20px;
  transition: all .2s;
  &:hover {
    color: #222;
    &:before {
      opacity: 0;
      height: 0;
    }
  }
  &:before {
    height: 100%;
    transition: all .2s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #222;
    display: block;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #ffbe0b, #fb5607, #ff006e, #8338ec, #3a86ff);
    z-index: -2;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
  }
}